body {
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    padding-bottom: 6px;
    border-bottom: 1px solid #ECECEC;
}

.h-icons {
    display: flex;
    gap: 12px;
    padding-left: 6px;
    padding-top: 6px;
}

.choice,
.c-choice,
.icon {
    border: 3px solid black;
    border-radius: 50%;
}

.icon {
    width: 50px;
    height: 50px;
}

#rock-icon,
#paper-icon {
    background-color: #0D73B8;
}

#scissors-icon {
    background-color:  #AE1717;
}

.content {
    display: flex;
    gap: 32px;
    padding-top: 32px;
}

#player-options,
#computer-options {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.option,
.c-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    background-color: #3986BA;
}

.choice:focus {
    background-color: #0D73B8;
}

.choice,
.c-choice {
    height: 150px;
    width: 150px;
}

.arena {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    align-self: stretch;
    flex-grow: 1;
}

.standings-bar {
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 48px;
    flex-wrap: wrap;
}

#standings-text {
    padding: 8px 32px;
}

.battle {
    flex-grow: 1;
}

.results-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-top: 1px solid #DBDBDB;
}

#results-list {
    height: 100px;
    flex-basis: 400px;
    padding: 16px 30px;
    margin: 8px 8px;
    overflow:scroll;
    overflow-x:hidden;
}

#results-list,
#standings-text {
    background-color: #ececee;
    border: 1px solid #ececee;
    border-radius: 25px; 
}

#submit-button {
    margin: 16px;
    flex-shrink: 1;
    padding: 16px 32px;
}
.btn {
    padding: 16px 32px;
    border: 2px solid #A3B6FF;
    background-color: #F1F4FF;
    font-weight: 700;
    font-size: medium;
    border-radius: 20px;
}

.btn:hover {
    background-color: #C6D8D3;
}