body {
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    padding-bottom: 6px;
    border-bottom: 1px solid #DBDBDB;
}

.content {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-top: 32px;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
    width: 150px;
    border: 3px solid black;
    border-radius: 50%;
}

.selected {
    height: 150px;
    width: 150px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: #b1c1ff;
}

.submit {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.btn {
    padding: 16px;
    border: 2px solid #A3B6FF;
    background-color: #F1F4FF;
    font-weight: 700;
    font-size: medium;
    border-radius: 20px;
}

#results {
    display: flex;
    justify-content: center;
}
