body {
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 925px) {
    #computer-options {
        flex-direction: column;
    }
}

@media (min-width: 893px) {
    #player-options {
        flex-direction: column;
    }
}

@media (max-width: 637px) {
    .content {
        flex-direction: column;
    }
}

.header {
    display: flex;
    padding-bottom: 6px;
    border-bottom: 1px solid #ECECEC;
}

.h-icons {
    display: flex;
    gap: 12px;
    padding-left: 6px;
    padding-top: 6px;
}

.choice,
.c-choice,
.icon {
    border: 3px solid black;
    border-radius: 50%;
}

.icon {
    width: 50px;
    height: 50px;
}

#rock-icon,
#paper-icon {
    background-color: #0D73B8;
}

#scissors-icon {
    background-color:  #AE1717;
}

.content {
    display: flex;
    gap: 32px;
    padding-top: 32px;
    background-color: #E8E9EB;
    flex-wrap: wrap;
    flex-basis: auto;
}

#player-options,
#computer-options {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 32px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 16px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid black;
    flex-shrink: 1;
    flex-basis: auto;
}

.option,
.c-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-shrink: 1;
}

.choice,
#submit-button,
#restart-button {
    cursor: pointer;
}

.choice:hover {
    background-color: #0D76B8;
}

.choice:focus {
    background-color: #0D73B8;
}

.choice,
.c-choice {
    background-color: #C9C7C7;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    flex-shrink: 0;
}

.arena {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 25px;
    align-self: stretch;
    flex-grow: 1;
    background-color: white;
    flex-shrink: 1;
    margin: 6px;
}

.standings-bar {
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 48px;
    flex-wrap: wrap;
}

#standings-text {
    padding: 8px 32px;
}

.battle {
    flex-grow: 1;
}

.results-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-top: 1px solid #DBDBDB;
}

#results-list {
    height: 100px;
    flex-basis: 400px;
    padding: 16px 30px;
    margin: 8px 8px;
    overflow:scroll;
    overflow-x:hidden;
}

#results-list,
#standings-text {
    background-color: #E8E9EB;
    border: 1px solid #E8E9EB;
    border-radius: 25px; 
}

#submit-button {
    margin: 16px;
    flex-shrink: 1;
    padding: 16px 32px;
}
.btn {
    padding: 16px 32px;
    border: 2px solid black;
    background-color: #FFC800;
    font-weight: 700;
    font-size: medium;
    border-radius: 20px;
}

.btn:hover {
    background-color: #FFBF00;
}